.button {
    border: 2px solid var(--primary);
    border-radius: var(--radius);
    background-color: var(--text-light);
    color: var(--primary);
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    margin: auto;
    padding: 1.1rem 2.1rem;
    text-transform: uppercase;
    transition: color 0.4s ease-in-out, background-color 0.3s;
}

.button:hover {
    background-color: var(--primary);
    color: var(--text-light);
}